@import "ember-side-menu";

.nav {
  background-color: white;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: -29%;
  margin-right: -29%;
}

body {
  background-color: #F7F7F7;
  color: #4A4A4A;
}

img {
  width: 100%;
  // margin-left: 10%;
  box-shadow: 12px 12px 0px lightgrey;
  z-index: -2;
}

.navbar-brand {
  margin-left: 38%;
}

#hamburger {
  font-size: 200%;
}

.image {
  z-index: -2;
  position: relative;
  width: 100%;
  margin-top: 10%;
}

h3 {
   position: absolute;
   top: 400px;
   left: 25%;
   width: 50%;
   text-align: center;
   background-color: white;
   padding-top: 7%;
   padding-bottom: 7%;
}

#sticky-container {
  width: 100%;
}

.story-image {
  margin-bottom: 6%;
}
